include includes/head.jade
    // Custom styles for this template
    link(href="/css/game.css",rel="stylesheet")
    title Room #{room} - Bomberman3D
    script(src="/socket.io/socket.io.js")
    script(src="/js/three.min.js")
    script(src="/js/class/Keys.js")
    script(src="/js/game.js")
body
    #container
