include includes/head.jade
    // Custom styles for this template
    link(href="/css/login.css",rel="stylesheet")
    title Room #{room} - Bomberman3D
body
    #container
        script(src="/socket.io/socket.io.js")
        script(src="/js/testconnect.js")