include includes/head.jade
    // Custom styles for this template
    link(href="/css/login.css",rel="stylesheet")
    title Signin Template for Bootstrap
body
    #container
        form(class="form-signin", role="form", method='post', action='/login')
            h2(class="form-signin-heading") Войдите
            input(name='username', type="text",class="form-control",placeholder="Username",required,autofocus)
            input(name='password', type="password",class="form-control",placeholder="Password",required)
            //label(class="checkbox")
                input(type="checkbox",value="remember-me")
                |Remember me
            button(class="btn btn-lg btn-primary btn-block",type="submit") Войти
            a(class="btn btn-default btn-xs",href="/register",id='register') Зарегистрироваться

            if error
                ul(class="bg-danger")
                    each msg in error
                        li= msg

